<section class="page-section" id="services">
    <div class="container">
        <div class="text-center">
            <h2 class="section-heading text-uppercase"><%= t('main.services') %></h2>
            <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
        </div>
        <div class="row text-center">
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-plug fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Electrical</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Indoor/outdoor</li>
                    <li>Panel, switch, outlet and wiring</li>
                    <li>Generators, fan</li>
                    <li>Lighting: led light, chandelier</li>
                    <li>Landscaping lighting</li>
                    <li>Underground wire and main services</li>
                  </ul>  
                </p>
            </div>
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-faucet fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Plumbing</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Re-pipe / Faucet / Fixtures / valves</li>
                    <li>Water heater ( Tank/ Tank-less)</li>
                    <li>Sprinkler system</li>
                    <li>Water softener, water filter</li>
                  </ul>                 
                </p>
            </div>
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-utensils fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Kitchen remodeling</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Flooring ( Tile, wood or vinyl)</li>
                    <li>Countertop, granite, cabinets</li>
                    <li>Cabinet painting</li>
                  </ul>
                </p>
            </div>
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-toilet fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Bathroom remodeling</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Shower transformation</li>
                    <li>Bathtub replace, tiling</li>
                  </ul>
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-expand fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Patio/Deck – Room addition</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Open or enclosed patio</li>
                    <li>Wood deck or composite deck</li>
                    <li>Room addition</li>
                  </ul>  
                </p>
            </div>
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Roofing / Gutter</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Replace and repair</li>
                    <li>Install, replace gutter</li>
                  </ul>                 
                </p>
            </div>
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-paint-roller fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Painting Interior / Exterior</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Cabinet painting</li>
                    <li>Trim, door, wall painting</li>
                    <li>Siding, brick painting</li>
                  </ul>
                </p>
            </div>
            <div class="col-md-3 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-home fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Flooring</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>Hardwood glue down</li>
                    <li>Floating laminate or vinyl installation</li>
                    <li>Stair wood (wood, laminate or vinyl)</li>
                    <li>Tile ( indoor or outdoor)</li>
                  </ul>
                </p>
            </div>
        </div>

        <div class="row text-center">
            <div class="col-md-3 offset-md-5 service-card">
                <span class="fa-stack fa-4x">
                    <i class="fas fa-circle fa-stack-2x text-primary"></i>
                    <i class="fas fa-wrench fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="my-3">Heating / Cooling Residential or commercial</h4>
                <p class="text-muted">
                  <ul class="service-card-list">
                    <li>A/C diagnostic and repair</li>
                    <li>A/C unit replacement </li>
                  </ul>  
                </p>
            </div>
        </div>
    </div>
</section>
